# The Print Function

Print( ) is a builtin Python function that displays the value passed to it on the screen.  Sometimes when executing input code, no output code gets displayed.  To force output to be displayed to the screen, use Python's **print( )** function.

### Exercise

Execute the following 2 cells of Python code.  Notice in the first cell, there is no PRINT call.  Consequently, no output is displayed to the screen.

In [2]:
a=5

In [6]:
a=5
print(a)

5

In the second cell above, the **print( )** function gets the value of *'a'* passed to it and therefore displays the output to the screen.  Notice the syntax here.  You must put inside the parenthesis of the PRINT function what you want to print to the screen.  

In the above example we are printing a variable value, so we passed that variable to the PRINT function.  What if we want to print a number or text?

To print to the screen the **number 10.2**, just pass it to the print function inside the parenthesis.

In [5]:
print(10.2)

10.2

To print to the screen **text**, the text must be enclosed in quotation marks (single or double) when passed to the print function.

In [8]:
print("Hello World!")

Hello World!

In [9]:
print('Hello World!')

Hello World!

Text is also called a **string** in Python.

# Arithmetic in Python

In Python, we can perform all types of calculations.  Here are some of Python's arithmetic operators:
![title](img/arithmetic-ops.png)

### Exercise

Execute the following notebook cells to see examples of these Python arithmetic operators.

In [ ]:
print(7/2)

In [ ]:
print(8/2)

In [ ]:
print(7//2)

Notice that while / always gives a float, the // operator gives us a result ROUNDED DOWN to the next integer.

In [14]:
print(5%3)

2

In [15]:
print(4**3)

64

Here we saw that the REMAINDER OF 5 DIVIDED BY 3 is 2 and that 4 RAISED TO THE 3RD POWER is 64.

# Order of Operations (PEMDAS)

Recall that PEMDAS stands for Parenthesis, Exponents, Multiplication or Division, Addition or Subtraction.  Python follows the same rules for order of operations.

In [17]:
print(5+6-7)

4

In [18]:
print(25/3**2)

2.7777777777777777

Remember, if the default order of operations is not what you want, you can use parenthesis to force Python to evaluate sub-expressions in a different order.

In [19]:
print((6+4)/5)

2.0

### Exercise

In the next cell, write code to evaluate the expression **4 * (5 - 3)^2** and print the result to the screen.

Let's assign a variable **base = 3** and a variable **height = 5**.  Then we will use these dimensions to compute the area of the triangle (**Area = 1/2 x base x height**) and print the result to the screen.

In [20]:
base = 3
height = 5
Area = 1/2*base*height
print(Area)

7.5

### Exercise

In the next cell, assign the following variables: **pi = 3.14, radius = 4**. Then use the formula **Area = pi x radius^2** to compute the area of the circle with these dimensions.  Be sure to print the result to the screen.

# Builtin Functions for Working with Numbers

Use **min( )** and **max( )** to return the minimum and maximum of their arguments, respectively.  Just like the print function, the arguments are passed to the **min( )** and **max( )** functions within the parenthesis.

For example, the following code passes a list of values into the MIN and MAX functions.  The results are then printed to the screen.

In [21]:
print(min(3,7.1,5,11.4,2))

2

In [22]:
print(max(3,7.1,5,11.4,2))

11.4

It is extremely important to keep track of your parentheis to avoid syntax errors.  Recall that the PRINT function is passed arguments within its parenthesis and the **min( )** and **max( )** functions are also passed arguments within its parenthesis.  Therefore, to make this code execute, we needed 2 sets of parenthesis.

For simplification, we could have defined a list variable, *myList*, to hold the values of the list.  Then we could just pass the list variable to the **min( )** and **max( )** functions before printing to the screen.

In [30]:
myList = [3,7.1,5,11.4,2]
print(min(myList))
print(max(myList))

2
11.4

### Exercise

In the next cell, write the code to print to the screen the MIN and MAX of the list [5, 2, 6.43, -1]

Use **abs( )** to return the ABSOLUTE VALUE of its argument.  Use **float( )** to return a decimal representation of its argument.  Use **int( )** to return the next integer rounded down of its argument.  Examples of these functions are demonstrated below.

In [25]:
print(abs(7))

7

In [26]:
print(abs(-7))

7

In [27]:
print(float(10))

10.0

In [29]:
print(int(3.53))

3

### Exercise

In the next cell, find the ABSOLUTE VALUE of a negative number, the FLOAT and INTEGER representations of another number, then PRINT the results to the screen.